
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Assets/HomeStyle.css" rel="stylesheet" />
    <title>@*@ViewBag.Title -*@ ManMadhan Clinic </title>

    @*--using Font Awesome --*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    @*<span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>*@
                </button>
                @Html.ActionLink("Home", "HomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @*<li>@Html.ActionLink("Receptionist", "Index", "ReceptionistTbls")</li>
                        <li>@Html.ActionLink("Doctors", "Index", "DoctorTbls")</li>
                        <li>@Html.ActionLink("Laboratorian", "Index", "LaboratorianTbls")</li>
                        <li>@Html.ActionLink("Register User", "Index", "TblLogins")</li>*@

                    @*<li>@Html.ActionLink("Patient", "Index", "PatientTbls")</li>*@
                    @*<li>@Html.ActionLink("Prescrition", "Index", "PrescriptionTbls")</li>
                        <li>@Html.ActionLink("Lab Test", "Index", "LabTestTbls")</li>*@
                    <li>@Html.ActionLink("Log In", "Login", "Account")</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="row" style="background-image:url(../../Assets/Img/Homepage2.jpg);height:500px;background-size:cover;background-position:center">

        <div class="hero">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="row" style="height:100px"> </div>
                <h2> Your health is our only Priority</h2>
                <h2> Your health is our only Priority</h2>
                <p class="h6"> Our Clinic has been created in 2022 by the Ganesh and Madhan</p>
                <p class="h6"> Our Clinic has been created in 2022 by the Ganesh and Madhan</p><br />
                @*<button class="btn btn-primary">Reach Us</button><br /><br />
                    <a class="nav-link" href="../Login.aspx"> <button class="btn btn-light border-primary text-primary">Contact Us</button></a>*@
            </div>
        </div>
    </div>


    @*Second section*@

    <section class="about" runat="server">
        <div class="main" runat="server">
            <img src="~/Assets/Img/Vaccination1.jpg" width="430" height="100" />

            <div class="about-text" runat="server">
                <h2> Get Vaccinated for COVID-19 </h2>
                <h6> Vaccines are the most effective way to prevent infectious diseases. This page explains how vaccines work, what they contain and the most common side effects. </h6>
                <h6> Vaccines are the most effective way to prevent infectious diseases. This page explains how vaccines work, what they contain and the most common side effects. </h6>

                @*<button type="button">Let's Talk</button>*@
            </div>
            
        </div>
    </section>


    @*----- third Section --------------*@


    <!-----Three Container inside a Container ----------->
    <div class="service">
        <div class="title">
            <h2>Our Services</h2>
        </div>

        <div class="box">
            <div class="card">
                <i class="fa-regular fa-heart"></i>
                <h5>Skin Consultation</h5>
                <div class="pra">
                    <p> We provide a Consultation service for every individual at the scheduled time based on the Appointment System </p>

                    <p style="text-align: center;">
                        @*<a class="button" href="#">Read More</a>*@
                    </p>
                </div>
            </div>


            <div class="card">
                <i class="fa-solid fa-shield-virus"></i>
                <h5>Dermotologist Specialist</h5>
                <div class="pra">
                    <p>We Have the Best certified specialist in the Skin care Industry and we have our own Unique way of treating Last stage skin illness.</p>

                    <p style="text-align: center;">
                        @*<a class="button" href="#">Read More</a>*@
                    </p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-flask"></i>
                <h5>Creogynic Treatment </h5>
                <div class="pra">
                    <p>Cryogenic Solution like Liquid Nitrogen treatment is available in our Clinic</p>

                    <p style="text-align: center;">
                        @*<a class="button" href="#">Read More</a>*@
                    </p>
                </div>
            </div>
        </div>
    </div>




    <!------Ping mee  Me------>
    @*--------------------------------------------------------------------------*@

    <div class="container body-content" style="background: #ffdab5; width:100%;">
        @*@RenderBody()*@
        <br />
        <footer>
            <p>&copy; @DateTime.Now.Year Created by Ganesh and Madhan</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>

