@model Clinical_MVC_Ganesh.Models.AppointTbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Patient.cshtml";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-image: url(../../Assets/Img/Receptionist2.jpg);
            background-size: cover;
        }

        table {
            color: white;
        }

        .dl-horizontal {
            color: white;
        }

        h2, h4 {
            color: #f23557;
        }
    </style>
</head>
<body>
    <h2>Details</h2>

    <div>
        <h4>AppointTbl</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DoctorTbl.DocName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DoctorTbl.DocName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PatientTbl.PatName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PatientTbl.PatName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReceptionistTbl.RecName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReceptionistTbl.RecName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AppID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body></html>