@model Clinical_MVC_Ganesh.Models.PatientTbl

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Laboratorian.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PatientTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatGen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatGen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatAllegies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatAllegies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceptionistTbl.RecName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceptionistTbl.RecName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
