@model IEnumerable<Clinical_MVC_Ganesh.Models.DoctorTbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Skin Care Clinic</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-image: url(../../Assets/Img/Admin1.jpg);
            background-size: cover;
        }

        table {
            color: white;
        }

        h2 {
            color: white;
        }
    </style>
</head>
<body>
    <h2>Doctor Details</h2>

    <p class="btn btn-default btn-success">
        @Html.ActionLink("Create New", "Create", null, new { style = "color:white;" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocSpec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocGen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocPass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocEmail)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocExp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocSpec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocGen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocAdd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocDOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocPass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocEmail)
                </td>
                @*<td>
                    <div class="btn btn-default btn-primary">
                        @Html.ActionLink("Edit", "Edit", new { id = item.DocId }, new { style = "color:white;" })
                    </div> |
                    <div class="btn btn-default btn-primary">
                        @Html.ActionLink("Details", "Details", new { id = item.DocId }, new { style = "color:white;" })
                    </div> |
                    <div class="btn btn-default btn-primary">
                        @Html.ActionLink("Delete", "Delete", new { id = item.DocId }, new { style = "color:white;" })
                    </div>
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DocId }, new { style = "color:lawngreen;font-weight: bold;" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DocId }, new { style = "color:lawngreen;font-weight: bold;" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DocId }, new { style = "color:lawngreen;font-weight: bold;" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
