@model Clinical_MVC_Ganesh.Models.PatientTbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Doctor.cshtml";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            /*background-image: url(../../Assets/Img/Logo.jpg);*/
            background-color:black;
            background-size: cover;
        }

        table {
            color:white;
        }

        .dl-horizontal {
            color: white;
        }

        h2, h4 {
            color: lawngreen;
        }
    </style>
</head>
<body>

    <h2>Patients Details</h2>

    <div>
        <h4>Personal Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PatName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PatName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PatPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PatPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PatGen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PatGen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PatDOB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PatDOB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PatAdd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PatAdd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PatAllegies)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PatAllegies)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReceptionistTbl.RecName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReceptionistTbl.RecName)
            </dd>

        </dl>
        <h2>Medical Summary</h2>
        <table class="table table-condensed table-responsive">
            <tr>

                <th>Medicines</th>
                <th>Cost</th>
                <th>Doctor Name</th>
                <th>Lab Test</th>
                <th>Lab Cost</th>


            </tr>

            @foreach (var prescription in Model.PrescriptionTbls)
            {
                <tr>
                    <td>
                        <p>
                            @prescription.Medicines
                        </p>
                    </td>
                    <td>
                        <p>
                            @prescription.Cost
                        </p>
                    </td>
                    <td>
                        <p>
                            @prescription.DoctorTbl.DocName
                        </p>
                    </td>
                    <td>
                        <p>
                            @prescription.LabTestTbl.TestName
                        </p>
                    </td>
                    <td>
                        <p>
                            @prescription.LabTestTbl.TestCost
                        </p>
                    </td>
                </tr>
            }



        </table>
        <h2>Laboratory Summary</h2>
        <table class="table table-condensed table-responsive">
            <tr>

                <th>Test Name</th>
                <th>Date</th>
                <th>Test Report</th>
                <th>Lab Name</th>
                @*<th>Lab Cost</th>*@


            </tr>

            @foreach (var prescription in Model.ReportTbls)
            {
                <tr>
                    <td>
                        <p>
                            @prescription.LabTestTbl.TestName
                        </p>
                    </td>
                    <td>
                        <p>
                            @prescription.TestDate
                        </p>
                    </td>
                    <td>
                        <p>
                            @prescription.TestSummary
                        </p>
                    </td>
                    <td>
                        <p>
                            @prescription.LaboratorianTbl.LabName
                        </p>
                    </td>
                    @*<td>
                        <p>
                            @prescription.
                        </p>
                    </td>*@
                </tr>
            }



        </table>

        @*<h2>Patient Summary</h2>
        <table class="table table-condensed table-responsive">
            <tr>

                <th>Medicines</th>
                <th>Cost</th>
                <th>Doctor Id</th>

            </tr>

            @foreach (var Labdetails in Model.PrescriptionTbls)
            {
                <tr>
                    <td>
                        <p>
                            @prescription.Medicines
                        </p>
                    </td>
                    <td>
                        <p>
                            @prescription.Cost
                        </p>
                    </td>
                    <td>
                        <p>
                            @prescription.DoctorTbl.DocName
                        </p>
                    </td>
                </tr>
            }



        </table>*@


    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.PatId }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
    </body></html>
